/************ Skills Css ************/
.skill {
  padding: 0 0 15px 0; /* Adjust bottom padding to reduce height */
  position: relative;
}

  .skill-container{
    width: 900px;
    position: relative;
    display: flex;
    margin: 0 auto;
  }
  .skill-bx {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 64px;
    text-align: center;
    padding: 20px 15px;
    margin-top: -30px;
    margin: auto;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 10px 0 50px 0; 
  }
  /* .skill-slider {
    width: 80%;
    margin:  auto;
    position: relative;

  }
  .skill-slider .item img {
    width: 40%;
    margin: 0 auto 15px auto;

  } */
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px; /* Space between items */
    justify-items: center; /* Center align items horizontally */
    margin: 2%;
    justify-content: center;
  }
  
  .item {
    width: 120px;
  }

  .item img {
    width: 120px; /* Adjust emoji size */
    margin: 0 auto 10px auto; /* Center emoji with less margin */
}

.item h5 {
    font-size: 20px; /* Smaller font for headings */
    margin: 10px 0; /* Adjust margin for compactness */
}

.item p {
    font-size: 18px; /* Smaller font for paragraph */
    line-height: 1.2;

}

.second-row {
    display: flex;
    justify-content: center; /* Centers items in the second row */
    gap: 150px; /* Space between the two items */
    margin-top: 10px; /* Add spacing from the first row */
    grid-column: 1 / -1; /* Ensures the second row spans the full width */
}

.items p {
    font-weight: 700;
}